@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-50 dark:bg-zinc-950 text-zinc-900 dark:text-slate-100;
    overflow-y: overlay;
}

:root {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

input[type='color'] {
    @apply w-9 h-9 bg-transparent border-none appearance-none cursor-pointer !important;
}

input[type='color']::-webkit-color-swatch {
    @apply rounded-[50%] p-0 m-0 h-[30px];
}

input[type='color']::-moz-color-swatch {
    @apply rounded-[50%] p-0 m-0 h-[30px];
}
